@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.no-border {
  border-bottom: none !important;
}

.center {
  text-align: center !important;
}

tbody tr:nth-child(14) {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

tbody tr:nth-child(3),
tbody tr:nth-child(16)
{
  border-bottom: 1px solid lightgray;
}

.qualification {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  display: block;
  margin-left: 35px;
}

.qualification-text {
  font-size: 13px;
  margin-left: 15px;
}

tbody tr:first-child .qualification {
  background-color: lightgreen;
  margin: 0 auto;
}

tbody tr:nth-child(2) .qualification,
tbody tr:nth-child(3) .qualification
{
  background-color: lightblue;
  margin: 0 auto;
}

tbody tr:nth-child(14) .qualification
{
  background-color: orange;
  margin: 0 auto;
}

tbody tr:nth-child(15) .qualification,
tbody tr:nth-child(16) .qualification
{
  background-color: red;
  margin: 0 auto;
}